@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Benne&family=Cutive+Mono&display=swap');

$almost-black: #252525;
$dark-grey: #999999;
$grey: #cccccc;
$light: #f2f2f2;
$beige: #f3eee8;
$dusted-pink: #d6adb4;
$pink: #f7bac4;
$dark-pink: #f7599b;
$red: #dc3545;
$yellow: #ffc107;
$white: #ffffff;

$sans-serif: 'Assistant', sans-serif;
$serif: 'Benne', serif;
$mono: 'Cutive Mono', monospace;

$x-small: 0.9rem;
$small: 1rem;
$medium: 1.5rem;
$large: 4rem;
$x-large: 6rem;
$xx-large: 12rem;

$circle-size: 50vw;