@import './abstracts';

* {
  box-sizing: border-box;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

#nprogress .bar {
  background: $pink;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: $x-small;
}

#nprogress .peg {
  box-shadow: none;
}

#nprogress .spinner {
  display: none;
}

#nprogress .spinner-icon {
  display: none;
}



body {
  background: $white;
  color: $almost-black;
  font-family: $sans-serif;
  font-size: $small;
}

a {
  color: $dark-grey;
  text-decoration: none;
}

.content {
  max-width: 100%;
  margin: 0 auto;
}

#scroll-to-top {
  display: none;
  justify-content: center;
  align-content: center;
  position: fixed;
  bottom: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  padding: 0.4rem;
  fill: $dark-grey;
  right: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: $dark-grey;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  svg {
    transition: transform 0.5s ease-in-out;
  }

  &:hover {
    background-color: $white;
    fill: $dusted-pink;
    svg {
      transform: translateY(-2px);
    }
  }
}

nav {
  @include clear-m-p;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;

  @include md {
    justify-content: space-between;
  }

  .logo {
    margin-bottom: 1rem;

    @include sm {
      margin-bottom: 0;
    }
  }

  .menu-links {
    font-family: $serif;
    font-size: $small;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding: 0 1rem;
    @include flex-centered;
    flex-wrap: wrap;
    justify-content: center;
  }

  a {
    margin-left: $small;
    color: $almost-black;

    &:hover {
      color: $dusted-pink;
    }
  }
}

.contact-section {
  @include clear-m-p;
  @include flex-centered;
  .container {
    width: 90%;
    @include flex-centered;
    flex-direction: column;
    padding: 1rem 0;

    @include md {
      width: 75%;
    }

    @include lg {
      width: 50%;
    }

    h1 {
      margin-top: 2rem;
      font-size: $medium;
      font-family: $serif;
      color: $almost-black;
    }

    form {
      font-family: $serif;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      margin: 2rem 0;
      padding: 1rem;
      width: 100%;

      label {
        grid-column: 1 / span 2;
      }

      input[type='text'],
      input[type='email'],
      textarea {
        padding: 0.5rem;
        margin: 0.5rem 0;
        border: solid 1px transparent;
        border-bottom: solid 1px $light;
        width: 100%;
        font-family: $sans-serif;
        font-size: $small;
        line-height: 2rem;
        text-align: justify;

        &:focus,
        &:active,
        &:focus-visible {
          border: solid 1px transparent;
          border-bottom: solid 1px $pink;
          outline: none;
        }
      }

      textarea {
        resize: none;
        width: 100%;

        &:focus,
        &:active,
        &:focus-visible {
          border: solid 1px $pink;
          outline: none;
        }
      }

      input[type='submit'] {
        grid-column: 2;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        padding: 0.5rem 1.5rem 0.3rem 1.5rem;
        margin: 0.5rem 0;
        border: none;
        background: transparent;
        transition: 0.5s ease-in-out;
        text-transform: uppercase;
        font-family: $serif;
        font-weight: bold;
        font-size: $small;
        letter-spacing: 0.15rem;
        border-radius: 1.25rem;

        &:hover {
          cursor: pointer;
          color: $white;
          border: none;
          background: $pink;
        }

        &:focus,
        &:active,
        &:focus-visible {
          outline: none;
        }
      }
    }
  }
}

.projects-section {
  z-index: 1;
  background: $white;
  @include circle($beige);
  .circle {
    margin-bottom: 0;
  }

  .projects {
    background: $beige;
    @include flex-centered;
    @include clear-m-p;

    .container {
      @include flex-centered;
      @include clear-m-p;
      flex-direction: column;
      width: 100%;

      .beige {
        background: $white;
        width: 100%;
        @include clear-m-p;

        .single-project {
          @include full-circle($beige);
          width: 100%;

          grid-gap: 2rem;
          padding: 2rem 0.5rem;

          .details {
            ul.tech > li {
              border: 2px solid $almost-black;
              background: $white;
            }

            ul.tech {
              li:hover {
                background: $dusted-pink;
                border-color: $dusted-pink;
              }
            }
          }
        }
      }

      .light {
        background: $white;
        width: 100%;
        @include clear-m-p;

        .single-project {
          @include full-circle($light);
          width: 100%;

          grid-gap: 2rem;
          padding: 2rem 0.5rem;

          .details {
            ul.tech > li {
              border: 2px solid $almost-black;
              background: $white;
            }

            ul.tech {
              li:hover {
                background: $yellow;
                border-color: $yellow;
              }
            }
          }
        }
      }

      .light-bg {
        background: $light;
        width: 100%;
        @include clear-m-p;
      }

      .single-project {
        @include full-circle($white);
        width: 100%;

        grid-gap: 2rem;
        padding: 2rem 0.5rem;

        h3 {
          font-family: $serif;
          font-size: $medium;
          text-align: center;
          -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;

          @include md {
            font-size: $h-medium;
          }

          @include lg {
            font-size: $large;
          }

          &:hover {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
          }

          a {
            color: $almost-black;

            &:hover {
              color: $dark-grey;
            }
          }
        }

        .images {
          @include flex-centered;
          width: 100%;
          position: relative;
          margin-bottom: 0;

          @include md {
            margin-bottom: 2rem;
          }

          .left-align {
            text-align: left;
          }

          .right-align {
            text-align: right;
          }

          &:hover {
            -webkit-transition: -webkit-transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
          }

          @include title-images;
          @include title-images-animation;

          img.project-image {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            border-radius: 1.25rem;
            margin: 0.5rem;
            width: 75%;
            max-height: 350px;
            position: relative;
            top: 1rem;

            @include md {
              width: 75%;
              max-height: 400px;
            }

            @include lg {
              width: 75%;
              max-height: 500px;
            }
          }

          img.right {
            right: 5%;
          }

          img.left {
            left: 5%;
          }
        }

        .details {
          @include flex-centered;
          flex-direction: column;
          width: 90%;

          @include md {
            width: 75%;
          }

          @include lg {
            width: 50%;
          }

          p,
          ul,
          ul > li {
            text-align: justify;
            line-height: 1.5rem;
            font-size: $x-small;
            margin-bottom: 1rem;

            @include lg {
              line-height: 2rem;
              font-size: $small;
            }
          }

          .project-link-icon {
            @include icons;
            &:hover {
              stroke: $dusted-pink;
            }
          }

          @include tech($grey);
        }
      }
    }
  }
}

.about-section {
  background: $white;
  margin-bottom: 10rem;
  @include flex-centered;

  @include rwd(600) {
    margin-bottom: 15rem;
  }

  @include lg {
    margin-bottom: 20rem;
  }

  .container {
    @include flex-centered;
    width: 95%;
    padding: 1.5rem;
    flex-direction: column;

    @include rwd(850) {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 650px));
      grid-gap: 1rem;
    }

    @include lg {
      padding: 2rem;
      width: 90%;
    }

    .about-description {
      grid-column: 1;
      padding: 0.5rem;

      @include md {
        padding: 1.5rem;
      }

      p {
        text-align: justify;
        line-height: 2rem;
        font-size: $x-small;
        margin-bottom: 1rem;

      }

      @include tech($pink);
    }

    .about-image {
      grid-column: 2;
      padding: 1.5rem;
      text-align: right;

      img.profile-image {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 1.25rem;
        width: 100%;
        max-width: 500px;
      }
    }

    @include social-icons($pink);
    .social-icons {
      grid-column: -1/1;
      height: $large;
      @include flex-centered;
    }
  }
}

.welcome-section {
  z-index: 1;
  background: $light;
  @include circle($white);
  .circle {
    flex-direction: column;
    margin-bottom: 0;

    @include sm {
      flex-direction: row;
    }
  }

  .rotate {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
  }

  h1 {
    font-family: $serif;
    color: $pink;
    line-height: 3rem;
    font-size: $large;

    @include sm {
      font-size: $x-large;
    }

    @include md {
      line-height: 5rem;
      font-size: $xm-large;
    }

    @include lg {
      font-size: $xx-large;
    }
  }

  h1.welcome-title:hover .rotate {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  .description {
    &:before {
      content: '(';
      font-size: $x-large;
      color: $grey;
      bottom: $large;
      display: none;

      @include sm {
        display: inline-block;
        position: relative;
        position: relative;
        bottom: -$x-large;
      }
    }

    &:after {
      content: ')';
      font-size: $x-large;
      color: $grey;
      display: none;

      @include sm {
        display: inline-block;
        position: relative;
        left: 12.5rem;
        bottom: 6rem;
      }

      @include md {
        left: 17rem;
        bottom: 7.5rem;
      }
    }

    p {
      font-family: $mono;
      padding-left: 3rem;
      text-align: justify;
      font-size: 0.8rem;
      max-width: 11.5rem;
      line-height: 1rem;

      @include md {
        max-width: 16rem;
        font-size: $x-small;
        line-height: 1.5rem;
      }


    }
  }

  &::before {
    height: 100px;
    display: inline-block;
    background: $beige;
    content: '';
  }
}

footer {
  @include flex-centered;
  @include side-padding;
  @include clear-m-p;
  padding: 0 1rem;
  justify-content: space-evenly;
  background: $light;
  height: 10rem;
  flex-direction: column;

  @include md {
    justify-content: space-between;
    flex-direction: row;
  }

  p {
    @include uppercase;
    font-size: $x-small;
  }

  a {
    color: $dark-grey;
  }

  @include social-icons($yellow);
}
